@charset "utf-8";

/**********
skip nav
**********/
#skip {position:relative}
#skip a {position:absolute; width:130px; left:0; top:-40px; border:1px solid #fff; color:#fff; background:#333; line-height:30px; text-align:center}
#skip a:active, 
#skip a:focus {top:0}

/**********
전체 레이아웃
**********/
.wrapper {width:100%; min-width:1280px; overflow:hidden}
.container {width:1224px; padding:0 28px; margin:0 auto}/*1280기준*/

/**********
공통
**********/
ul li:last-child {margin-right:0 !important}
.last {margin-right:0 !important}
.floatL {float:left !important}
.floatR {float:right !important}

/**********
header
**********/
#header {border-top:3px solid #2c1810;}
/*top area*/
#header .top-area {overflow:hidden; height:120px; border-bottom:2px solid #eee; background:#f8faf0; position:relative}
#header .top-area .monthly-dunkin {position:absolute; top:0; right:28px;}
#header .top-area .monthly-dunkin button {position:relative; width:155px; height:22px; border-radius:0 0 4px 4px; padding-left:20px; background:#2c1810; color:#f9b234; font-size:11px; line-height:20px; cursor:pointer;}
#header .top-area .monthly-dunkin button:before {content:''; position:absolute; top:7px; left:13px; width:10px; height:5px; background:url(../images/icons/arrow-bottom.png) no-repeat;}
#header .top-area .sns-menu {float:left; margin-top:56px}
#header .top-area .sns-menu ul li {float:left; margin-right:20px}
#header .top-area .sns-menu ul li a {font-size:10px}
#header .top-area h1.logo {position:absolute; top:50px; left:50%; margin-left:-57px;}
#header .top-area h1.logo a {display:block; width:114px; height:20px; background:url(../images/main-logo.png) no-repeat}
#header .top-area .top-link {float:right; margin-top:56px}
#header .top-area .top-link ul li {float:left; margin-left:30px}
#header .top-area .top-link ul li a {font-size:10px}
#header .top-area .top-link ul li a strong {color:#ff6000}
#header .top-area .top-link ul li.search a {padding-right:78px; position:relative}
#header .top-area .top-link ul li.search a:after {content:''; width:46px; height:46px; border-radius:50%; border:1px solid #eee; background:#fff url(../images/icons/search-icon.png) center no-repeat; position:absolute; top:-18px; right:0}
/*gnb*/
#header .gnb-menu {position:relative; border-bottom:1px solid #2c1810}
/*gnb left-side*/
#header .gnb-menu .left-menu {float:left}
#header .gnb-menu .left-menu ul li {float:left; margin-right:40px}
#header .gnb-menu .left-menu ul li a {display:block; font-size:11px; color:#998366; padding:22px 0; letter-spacing: 2px; font-family: 'Hind', 'NanumGothic','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;font-weight:800}
/*gnb right-side*/
#header .gnb-menu .main-menu {float:right}
#header .gnb-menu .main-menu ul li {float:left;}
#header .gnb-menu .main-menu ul li a.menu-title {display: block; padding:21px 50px 20px; color:#2c1810; letter-spacing: 2px; font-family: 'Hind', 'NanumGothic','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;font-weight:800}
#header .gnb-menu .main-menu ul li.on a.menu-title {color:#f9b234; position:relative}
#header .gnb-menu .main-menu ul li.on a.menu-title:after {content:''; width:4px; height:4px; border-radius:50%; border:4px solid #f9b234; position:absolute; bottom:-6px; left:50%; margin-left:-6px; background:#fff; z-index:11}
#header .gnb-menu .main-menu ul li .sub-menu {position:absolute; top:61px; left:0; width:100%; height:260px; background:#fff; padding:20px 0; border-bottom:1px solid #2c1810; z-index:10; display:none}
#header .gnb-menu .main-menu ul li.on .sub-menu {display:block}/*제이쿼리 쓰고 삭제하기*/
/*gnb banner*/
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner {float:right;}
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner a { display:inline-block; width:365px; height:248px; position:relative}
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner .btitle {margin:50px 0 0 30px; font-size:20px; color:#613736; font-weight:bold; line-height:1}
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner strong {display:block; margin:3px 0 0 30px; font-size:20px; color:#DA3020; font-weight:bold; line-height:1}
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner .btxt {margin:7px 0 0 30px; font-size:13px; color:#613736; font-weight:600; line-height:1.2}
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner .bmore {display:block; position:absolute; left:30px; bottom:40px; width:45px; height:45px; border-radius:50%; border:1px solid #d1cccb; text-align:center}
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner .bmore span {font-size:10px; color:#827272; line-height:43px; font-weight:bold}
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner .bmore2 {display:block; position:absolute; left:30px; top:110px; width:70px; height:25px; border-radius:4px; background:#998366; text-align:center}
#header .gnb-menu .main-menu ul li .sub-menu .gnb-banner .bmore2 span {font-size:10px; color:#fff; line-height:25px; font-weight:bold}
/*gnb banner bg*/
#header .gnb-menu .main-menu ul li.menu1 .sub-menu .gnb-banner a:nth-child(1) {background:url(../images/gnb_happyorder.png) no-repeat}
#header .gnb-menu .main-menu ul li.menu1 .sub-menu .gnb-banner a:nth-child(2) {background:url(../images/gnb_happyemarket.png) no-repeat}
#header .gnb-menu .main-menu ul li.menu2 .sub-menu .gnb-banner a {background:url(../images/gnb_donut_of_10.png) no-repeat}
#header .gnb-menu .main-menu ul li.menu3 .sub-menu .gnb-banner a {background:url(../images/gnb_ktmembership.png) no-repeat}
#header .gnb-menu .main-menu ul li.menu4 .sub-menu .gnb-banner a:nth-child(1) {background:url(../images/gnb_findstore.png) no-repeat}
#header .gnb-menu .main-menu ul li.menu4 .sub-menu .gnb-banner a:nth-child(2) {background:url(../images/gnb_catering.png) no-repeat}
/*gnb list-menu*/
#header .gnb-menu .main-menu ul li .sub-menu .list-menu .group {float:left; height:260px}
#header .gnb-menu .main-menu ul li .sub-menu .list-menu .group dl dt a {display:block; padding:20px 0; width:170px; font-weight:bold}
#header .gnb-menu .main-menu ul li .sub-menu .list-menu .group:hover dl dt a {color:#000}
#header .gnb-menu .main-menu ul li .sub-menu .list-menu .group dl dd a {display:block; padding:5px 0; width:170px}
#header .gnb-menu .main-menu ul li .sub-menu .list-menu .group dl dd a:hover {color:#f9b234}

/**********
contents
**********/
/*공통 타이틀*/
#contents .title-set h3.title {font-family:'Nunito', sans-serif; font-size:20px; color:#2c1810; font-weight:900; letter-spacing:-1px; line-height:1}
#contents .title-set .sub-title {display:block; font-family:'Great Vibes', cursive; font-size:35px; color:#d1c1a7; line-height:1}
#contents .sub-txt {position:relative; padding-top:34px; margin:20px 0 32px}
#contents .sub-txt:before {content:''; position:absolute; top:0; left:50%; margin-left:-10px; width:20px; height:2px; background:#ab9b7f}
#contents .sub-txt h4 {font-size:17px; color:#392213; letter-spacing:-2px}
#contents .sub-txt span {display:block; margin-top:15px; font-size:11px; color:#a19e99}

/*banner*/
#contents .banner {position:relative; height:670px;}
#contents .banner .inner-banner {width:2000px; height:670px; position:absolute; left:50%; margin-left:-1000px; overflow:hidden}
#contents .banner .inner-banner ul li a {display:block; width:2000px; min-width:1224px; height:670px;}
#contents .banner .inner-banner ul li.slide1 a {background:url(../images/banner1.jpg) center 0 no-repeat}
#contents .banner .inner-banner ul li.slide2 a {background:url(../images/banner2.jpg) center 0 no-repeat}
#contents .banner .inner-banner ul li.slide3 a {background:url(../images/banner3.jpg) center 0 no-repeat}
#contents .banner .inner-banner ul li.slide4 a {background:url(../images/banner4.jpg) center 0 no-repeat}
#contents .banner .inner-banner ul li.slide5 a {background:url(../images/banner5.jpg) center 0 no-repeat}

/*NEW&EVENT*/
#contents .new-event {margin-top:90px}
#contents .new-event .ne-inner {padding:0 52px}
#contents .new-event .title-set {float:left; margin-top:20px}
#contents .new-event .title-set span {margin-left:60px}
#contents .new-event .sub-txt {float:left; width:180px; margin:15px 0 0 90px}
#contents .new-event .sub-txt:before {left:0; margin-left:0}
#contents .new-event .video {float:right; width:443px; height:245px; border-radius:4px; position:relative; background:#eee}
#contents .new-event .video:before {content:''; position:absolute; top:12px; left:-10px; width:54px; height:21px; background:url(../images/new-flg.png) no-repeat}
#contents .new-event .event-list {clear:both; padding-top:30px; position:relative}
#contents .new-event .event-list .view-event {position:absolute; top:-45px; left:0; border:1px solid #ab9b7f; border-radius:3px; padding:12px 38px}
#contents .new-event .event-list .elist {float:left; width:272px; height:452px; border:1px solid #d1cccb; border-radius:3px; overflow:hidden; margin-right:8px}
#contents .new-event .event-list .elist ul li {position:relative}
#contents .new-event .event-list .elist ul li a img {width:100%}
#contents .new-event .event-list .elist ul li a .event-info1 {height:72px; padding:12px 0 0 22px}
#contents .new-event .event-list .elist ul li a .event-info1 h5 {font-size:23px; color:#372317; width:185px; text-overflow:ellipsis; white-space: nowrap; overflow: hidden; letter-spacing:-2px; font-weight:600}
#contents .new-event .event-list .elist ul li a .event-info1 .date {font-size:13px; margin-top:6px}
#contents .new-event .event-list .elist ul li a .event-info1 .place {position:absolute; bottom:107px; right:20px}
#contents .new-event .event-list .elist ul li a .event-info2 {border-top:1px solid #d1cccb; padding:22px 22px 0; font-size:17px; letter-spacing:-2px}

/*banner1*/
#contents .banner1 {margin-top:90px; height:400px; background:url(../images/banner_bg1.jpg) center 0 no-repeat; background-attachment:fixed; overflow:hidden;position:relative}
#contents .banner1 h3.show-left {font-family:'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; font-weight:100; font-size:60px; color:#372317; line-height:1; letter-spacing:-2px; top:120px; position:absolute; left:50%; margin-left:-340px}
#contents .banner1 h3 span {display:block}
#contents .banner1 h3 span:last-child {margin-left:100px}
#contents .banner1 .show-right {position:absolute; top:250px; right:50%; margin-right:-70px}

/*dunkins-menu*/
#contents .dunkins-menu {margin-top:90px; text-align:center}
#contents .dunkins-menu .menu-list {overflow:hidden}
#contents .dunkins-menu .menu-list ul li {float:left; margin-right:25px; height:320px}
#contents .dunkins-menu .menu-list ul li:nth-child(4) {margin-right:24px}
#contents .dunkins-menu .menu-list ul li h5 {margin:15px 0 21px; font-size:22px; letter-spacing:-1px; color:#372317; font-weight:bold}
#contents .dunkins-menu .menu-list ul li .menu-btn {padding:8px 18px; border:1px solid #ab9b7f; border-radius:3px; font-size:12px; color:#ab9b7f}

/*store-catering*/
#contents .store-catering {margin:140px 0 50px; height:510px; background:url(../images/banner_bg2.jpg) center 0 no-repeat; background-attachment:fixed; position:relative}
/*store*/
#contents .store-catering .store {position:absolute; top:-50px; left:50%; margin-left:-454px; width:280px; height:380px; padding-left:100px; border-radius:50%; background:url(../images/store-bg.png) no-repeat}
#contents .store-catering .store .title-set {margin-top:75px}
#contents .store-catering .store .title-set .sub-title {font-size:24px; color:#bf862a;}
#contents .store-catering .store .title-set .title {font-size:16px; color:#fff; margin-left:30px}
#contents .store-catering .store h4 {margin-top:60px; letter-spacing: -1px}
#contents .store-catering .store h4 a {font-size:17px; color:#fff}
#contents .store-catering .store p {margin-top:15px}
#contents .store-catering .store p a {font-size:15px; letter-spacing:-1px; color:#fff}
#contents .store-catering .store p a strong {color:#ff8a00}
#contents .store-catering .store .more {display:block; margin-top:40px; padding-left:73px; font-size:12px; color:#fff;  font-weight:bold; position:relative}
#contents .store-catering .store .more:before {content:''; width:60px; height:1px; background:#fff; position:absolute; left:0; top:9px}
/*catering*/
#contents .store-catering .catering {position:absolute; bottom:-50px; left:50%; margin-left:-30px; width:215px; height:380px; padding-left:165px; border-radius:50%; background:#f9f4ec}
#contents .store-catering .catering:before {content:''; width:135px; height:129px; background:url(../images/catering.jpg) no-repeat; position:absolute; top:145px; left:20px}
#contents .store-catering .catering .title-set {margin-top:107px}
#contents .store-catering .catering .title-set .sub-title {font-size:24px; color:#bf862a; margin-left:-30px}
#contents .store-catering .catering .title-set .title {font-size:16px}
#contents .store-catering .catering h4 {margin-top:30px; letter-spacing: -1px}
#contents .store-catering .catering h4 a {font-size:17px; color:#372317}
#contents .store-catering .catering p {margin-top:24px}
#contents .store-catering .catering p a {font-size:15px; letter-spacing:-1px}
#contents .store-catering .catering .more {display:block; margin-top:25px; padding-left:73px; font-size:12px; font-weight:bold; color:#372317; position:relative}
#contents .store-catering .catering .more:before {content:''; width:60px; height:1px; background:#372317; position:absolute; left:0; top:9px}

/*sns*/
#contents .sns {margin-top:90px; text-align:center}
#contents .sns .sns-list {overflow:hidden; margin-left:422px}
#contents .sns .sns-list ul li {float:left; margin-right:14px}
#contents .sns .sns-list ul li a {display:block; width:65px; height:65px; background:url(../images/icons/icon-sns.png) no-repeat;}
#contents .sns .sns-list ul li.sns1 a {background-position:0 0}
#contents .sns .sns-list ul li.sns2 a {background-position:0 -66px}
#contents .sns .sns-list ul li.sns3 a {background-position:0 -132px}
#contents .sns .sns-list ul li.sns4 a {background-position:0 -198px}
#contents .sns .sns-list ul li.sns5 a {background-position:0 -264px}
#contents .sns .sns-contents {margin-top:50px; width:2080px; height:230px; position:relative}/*width삭제하기*/
#contents .sns .sns-contents .sns-cont-box {position:absolute; left:0}
#contents .sns .sns-contents .sns-cont-box li {float:left}


/**********
footer
**********/
#footer {margin-top:90px}
#footer .left-area {float:left}
#footer .left-area .logo {width:85px; height:14px; background:url(../images/footer-logo.png) no-repeat; margin-top:3px}
#footer .left-area .info {margin-top:36px; font-size:11px}
#footer .left-area .info p {margin-bottom:10px}
#footer .left-area .info p span.right-txt1 {margin-left:40px}
#footer .left-area .info p span.right-txt2 {margin-left:92px}
#footer .left-area .btn {margin-top:55px}
#footer .left-area .btn a {float:left}
#footer .left-area .btn a.spc-story {margin-right:13px}
#footer .left-area .btn a.ccm {margin:10px 2px 0 0}
#footer .left-area .btn a.ksa {margin-top:10px}
#footer .left-area .btn .family-site {clear:both; margin-top:6px}
#footer .left-area .btn .family-site button {width:137px; height:30px; border:1px solid #b9b3b2; border-radius:3px; color:#000; font-size:11px; background:none; text-align:inherit; padding-left:16px; position:relative; cursor:pointer}
#footer .left-area .btn .family-site button:after {content:''; width:9px; height:5px; background:url(../images/icons/arrow-bottom-f.jpg) no-repeat; position:absolute; right:10px; top:11px}
#footer .left-area .btn .family-site ul {}




#footer .right-area {float:right}












